* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
------- General 


element.style {
}
.container {
    max-width: 1040px;
    /* margin-left: auto; */
/* margin-right: auto;--------
*/

body {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
img {
  height: 40px;
}
ul {
  list-style: none;
}
section {
  margin-top: 48px;
}
h1,
h2,
h3,
h4 {
  color: #7d5e32;
}
/* 
------- NavBar --------
*/

.navbar {
  /* border: 30px solid red; */
  display: flex;
  justify-content: space-between;
}

.link-container {
  /* border: 23px blue solid; */
  display: flex;
  gap: 50px;
}
.nav-links {
  text-decoration: none;
  font-size: 18px;
  color: #7d5e32;
}

/* 
------- section1 --------
*/
.section-001 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text-container {
  display: flex;
  flex-direction: column;
  width: 48%;
  align-items: center;
}

.main-header {
  font-size: 45px;
}
.main-text {
  font-size: 32px;
}

.main-para {
  margin-top: 16px;
  font-size: 20px;
}
.image-container {
  display: flex;
  justify-content: center;
}
.main-img {
  height: 500px;
  width: 78%;
  border-radius: 30px;
}

/* 
------- section2 --------
*/

.section2-container {
  display: flex;
  margin-top: 136px;
  flex-direction: column;
}
.hobsnskills-container {
  display: flex;
  margin-top: 64px;
  gap: 100px;
}

.section2-content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 15px;
}
.section002-box {
  text-align: center;
  padding: 50px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section002-header {
  font-size: 24px;
}

.section2-para {
  font-size: 16px;
}

.panel-content {
  display: flex;
}

.hobsnskills-header {
  font-size: 32px;
  margin-bottom: 16px;
}
.hobbies-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 24px;
  margin-bottom: 16px;
}
.line {
  width: 87px;
  border: 2px solid blue;
  margin-bottom: 32px;
}

.skills-box {
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

.skills-subhead {
  font-size: 14px;
}
.skills-p {
  font-size: 16px;
}

/* 
------- section3 --------
*/

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.info-header {
  font-size: 32px;
  margin-bottom: 32px;
}
.info-p {
  font-size: 16px;
}
.info-tiger-img {
  height: 554px;
  width: 421px;
  margin: 48px;
}
.about-article {
  margin: 15px;
}
.about-img {
  border-radius: 10px;
  height: 204px;
  width: 112px;
}
.about-content {
  margin-top: 16px;
  width: 48%;
}
.about-contents {
  display: flex;
  justify-content: space-between;
}
.about-content {
  display: flex;
}

.section4 {
  margin-top: 250px;
}
.section4-img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.s4-container {
  display: flex;
  margin: 15px;

  justify-content: space-evenly;
}

/*=================
footer
=================*/
footer {
  background-color: #7d5e32;
  display: flex;
  padding: 50px 0;
  color: white;
}

footer a:link,
footer a:visited {
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
