* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
------- General --------
*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 16px 150px;
}
img {
  height: 40px;
}
ul {
  list-style: none;
}
section {
  margin-top: 48px;
}
/* 
------- NavBar --------
*/

.navbar {
  /* border: 30px solid red; */
  display: flex;
  justify-content: space-between;
}

.link-container {
  /* border: 23px blue solid; */
  display: flex;
  gap: 50px;
}
.nav-links {
  text-decoration: none;
  font-size: 18px;
  color: #7d5e32;
}

/* 
------- section1 --------
*/
.section-001 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1040px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
  overflow: hidden;
}

.main-header {
  font-size: 45px;
}
.main-text {
  font-size: 32px;
}

.main-para {
  margin-top: 16px;
  font-size: 20px;
}
.image-container {
  display: flex;
  justify-content: center;
  max-width: 470px;
}
.main-img {
  height: auto;
  width: 100%;
  border-radius: 30px;
  object-fit: scale-down;
}

/* 
------- section2 --------
*/

.section2-container {
  display: flex;
  margin-top: 136px;
  flex-direction: column;
}
.hobsnskills-container {
  display: flex;
  margin-top: 64px;
  gap: 100px;
}

.section2-content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 15px;
}
.section002-box {
  text-align: center;
  padding: 50px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section002-header {
  font-size: 24px;
}

.section2-para {
  font-size: 16px;
}

.panel-content {
  display: flex;
}

.hobsnskills-header {
  font-size: 32px;
  margin-bottom: 16px;
}
.hobbies-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 24px;
  margin-bottom: 16px;
}
.line {
  width: 87px;
  border: 2px solid blue;
  margin-bottom: 32px;
}

.skills-box {
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

.skills-subhead {
  font-size: 14px;
}
.skills-p {
  font-size: 16px;
}

.section3 {
  background-color: red;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
}

.about-contents {
  display: flex;
}
.about-content {
  display: flex;
}
